<!DOCTYPE html>
<html>
  <head>
    <title>belajar</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body >
    <h1><%= id %></h1>
    <p>welcome to <%= owner %></p>
    <h1><%= ras %></h1>
	<h1><%= alamat %></h1>
	<h1>form</h1>
    <form name="biodata" method="POST" action="/latihan/save">
    <table>
        <tr>
        <td>id</td>
        <td><input type="text" name="id" ></td>
        </tr>
        <tr>
        <td>owner</td>
        <td><input type="text" name="owner" ></td>
        </tr>
        <tr>
        <td>ras</td>
       	<td><input type="text" name="ras"></td>
        </tr>
        <tr>
        <td>alamat</td>
        <td><input type="text" name="alamat" ></td>
        </tr>
        <tr>
<!--         <td colspan="2"><input type="submit" value="Save" ></td>
 -->
        </tr>
        <right><IMG SRC="/"></right>

    </table>
    <a href="http://www.farm.co"><right>login</right></a>

    </form>
            <right><IMG SRC="/IMG_20171101_022407"></right>

  </body>
</html>
